coc
gtk-3.0
pulse
dconf
QtProject.conf
VirtualBox
systemd
vokoscreenNG
QtProject
QtProject.conf
Thunar
Unknown Organization
VirtualBox
cef_user_data
coc
dconf
gtk-3.0
firefox-config
htop
kdeconnect
mimeapps.list
octave
onlyoffice
yay
xfce4
vokoscreenNG
vlc
systemd
rofi
pulse
pavucontrol.ini
pamac
zoom.conf
zoomus.conf

