coc
pulse
dconf
QtProject.conf
VirtualBox
systemd
vokoscreenNG
QtProject
QtProject.conf
Thunar
Unknown Organization
VirtualBox
cef_user_data
coc
dconf
firefox-config
htop
kdeconnect
mimeapps.list
octave
onlyoffice
yay
xfce4
vokoscreenNG
vlc
systemd
pulse
pavucontrol.ini
pamac
zoom.conf
zoomus.conf
Genymobile/
fontconfig/
gtkrc
gtkrc-2.0
jgit/
kazam/
lazygit/
GIMP/
Mousepad/
autostart/
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
mupen64plus/
picom/
ppsspp/
xfburn/
xfce4-dict/
