pulse
dconf
QtProject.conf
VirtualBox
systemd
vokoscreenNG
QtProject
QtProject.conf
Thunar
Unknown Organization
VirtualBox
cef_user_data
coc
dconf
firefox-config
htop
kdeconnect
mimeapps.list
octave
onlyoffice
yay
xfce4
vokoscreenNG
vlc
systemd
pulse
pavucontrol.ini
pamac
zoom.conf
zoomus.conf
Genymobile/
FreeCAD
fontconfig/
gtkrc
gtkrc-2.0
gtk-2.0
gtk-4.0
jgit/
kazam/
lazygit/
GIMP/
Mousepad/
autostart/
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
mupen64plus/
xfburn/
xfce4-dict/
swi-prolog
menus
StarUML/
bleachbit/
flutter/
libreoffice/
photoflare.io/
qBittorrent/
whatsapp-for-linux/
yarn/
DbGate/
dbgate/
desmume/
fcitx5/
filezilla/
ibus/
kylinsoft/
musicpod/
nvim/lua/plugins/codeium.lua
scripts/backup/
